{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-console": "off",
        "guard-for-in": "error",
        "semi": [
            "error",
            "always"
        ],
        "no-loop-func": "error",
        "no-sync": "error",
        "no-template-curly-in-string": "error",
        "block-scoped-var": "error",
        "dot-notation": "error",
        "curly": [
            "error",
            "multi-line",
            "consistent"
        ],
        "indent": 2
    }
}
